
 <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
<p>97 Bowling Alley Lane, Boulder CO</p>
<p> Open mondays-fridays 1-10pm</p>

<h1>Buster's Best Bowling Alley</h1>
       +  <h2>Bet You Can't Bowl A Strike Every Time</h2>
       +<p>97 Bowling Alley Lane, Boulder CO</p>
       +<p> Open mondays-fridays 1-10pm</p>
 <h1>Buster's Best Bowling Alley</h1>\n  <h2>Bet You Can't Bowl A Strike Every Time</h2>\n<p>97 Bo...2>\n       +<p>97 Bowling Alley Lane, Boulder CO</p>\n       +<p> Open mondays-fridays 1-10pm</p>\n" to include "<h1> Buster's Best Bowling Alley</h1>